*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --primary-color:rgb(187, 104, 49);
  --secondary-color:#D4B996FF;
}
body{
  background-color: var(--primary-color);
}
html{
  font-size: 75.5%;
}
.header{
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}
.header::before{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../public/images/bg1.png);
  clip-path: circle(60% at left 300px);
  z-index: -1;
}
.row2{
  position: absolute;
  top:10px;
  right: 150px;
  text-align: center;
}
.row2 h2{
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.row2 img{
  margin-top: 30px;
  width: 250px;
}
.row1 h1{
  font-size: 3rem;
  text-align: center;
  margin-left: 35px;
  font-family: 'Bodoni Moda', serif;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input{
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.search button{
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}
.container{
  width: 100%;
  margin-top: 25px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  grid-gap:20px;
  box-sizing: border-box; */
}
.cardbox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.cardimg{
  width: 200px;
  height: 300px;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 10px;
  box-shadow: 0 5px 5px rgba(212,185,150,.5);
  transition: .5s;
  text-align: center;
  position: relative;
}
.cardimg:hover{
  transform: scale(0.9);
  background-color: white;
}
.card img{
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}
/* .card .bottom{
  display: flex;
  flex-direction: column;
} */
.cardimg .bottom .title{
  font-size: 14px;
  margin-bottom: 32px;
}
.card .bottom .amount{
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: bold;
  padding: 0.2rem;
}
.overlay{
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-inner{
  background: white;
  width: 700px;
  height: 550px;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1.3rem;
}
.overlay-inner .close{
  position: absolute;
  top:1rem;
  right: 1rem;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: transparent;
}
.overlay-inner .inner-box{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.overlay-inner .inner-box img{
  margin-right: 20px;
  width: 150px;
  height: 200px;
}
.overlay-inner .inner-box h3{
  margin-top: 10px;
  color: green;
}
.overlay-inner .inner-box h4{
  color: blue;
}
.overlay-inner .inner-box button{
  outline: none;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
  margin-top: 2rem;
  text-align: justify;
  font-size: 13px;
}


/*-------------- Signup----------------- */

.signup-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containers{
  width: 800px;
  height: 480px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 67px;  
  border-radius: 12px; 
  box-shadow: 0px 0px 20px black;
}
.sign-pic{
  width: 217px;
  height: 480px;
  margin-bottom: 11%;
  margin-right: 20%;
}
.sign-pic img{
  width: 320px;
  height: 475px; 
  margin: 10px 10px;
  padding-bottom: 50px;
}

.signup-box{
  /* background-color: rgb(159, 201, 243); */
  width: 500px;
  height: 445px;
  padding: 8px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 14%;
  margin-right: 3%;
}
.signup-box h1 {
  margin: 10px auto;
  font-size: 30px;
}
.signup-box hr {
  border: solid 1px rgb(232, 232, 232);
}
.signup-box form {
  /* background-color: rgb(37, 82, 124); */
  border-radius: 12px;
  padding: 15px;
  margin-top: -9px;
}
.signup-box input{
  font-size: 15px;
  display: block;
  width: 83%;
  height: 38px;
  margin: 16px auto;
  padding-left: 13px;
  border: none;
  border-radius: 3px;
  transition: 0.3s; 
}
.signup-cont input:focus {
  transform: scale(1.05);
}
.signup-cont input[type="submit"] {
  background-color: rgb(9, 45, 86);
  color: white;
}

.signup-box button {
  display: block;
  background-color: #f57424;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 25px;
  margin: 5px auto;
  border-radius: 5px;
  border: solid 0.5px #f77728;
} 
.signup-box button:hover , .login-box button:hover{
  border: solid 0.5px  #f77728;
  background-color: white;
  color: #f77728;
}
.signup-box span{
  display: inline-block;
  margin: 20px 0px;
}

/*--------------login------------------- */

.maindiv{
  width: 100vw;
  height: 100vh;
 background-color: white;
 background-image:url(../public/images/library-wallpaper.jpg)
}

.login-cont{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box{
  background-color: transparent;
  width: 500px;
  height: auto;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  border:  solid 2px grey;
}
.login-box h1{
  margin: 10px auto;
  color: #f57424;
}
.login-box hr{
  border: solid 1px rgb(171, 169, 169);
}
.login-box form{
  background-color: transparent;
  border-radius: 12px;
  padding: 15px;
  margin-top: 20px;
}
.login-box input{
  font-size: 15px;
  display: block;
  width: 70%;
  height: 30px;
  margin: 5px auto;
  padding-left: 13px;
  border: none;
  border-radius: 3px;
  transition: 0.3s; 
}
.login-cont input:focus{
  transform: scale(1.05);
}
.login-cont input[type="submit"] {
  background-color: rgb(9, 45, 86);
  color: white;
}

.login-box button{
  display: block;
  background-color: #f57424;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 25px;
  margin: 5px auto;
  border-radius: 5px;
  border: solid 0.5px #f77728;
} 
.login-box button:hover{
  border: solid 0.5px  #f77728;
  background-color: white;
  color: #f77728;
}
.login-box a{
  text-decoration: none;
}
.login-box span{
  display: inline-block;
  margin: 20px 0px;
}
#logout{
  margin-left: 10px;
  width: 60px;
  color: white;
  background-color: #4d2613;
}

